<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout"
>
<head>
    <meta charset="UTF-8">
    <title>les Projections du film</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card text-center">
        <div class="card-header">
            <h1>les Projections du film</h1>
            <form class="form-inline">
                <input type="hidden" name="idf"  th:value="${idf}">
                <input class="form-control mr-sm-2 " type="search" placeholder="Recherche par ville" name="keyword" th:value="${keyword}" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>

        <div class="m-5">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Nom Film</th>
                    <th scope="col">Salle</th>
                    <th scope="col">Cinema</th>
                    <th scope="col">Ville</th>
                    <th scope="col" >Date Projection</th>
                    <th scope="col" >Prix</th>
                    <th scope="col" >Heure</th>

                    <!--                <th scope="col" sec:authorize="hasRole('ADMIN')">Supprimer/Modifier Patient</th>-->
                </tr>
                </thead>
                <tbody>
                <tr  th:each="p:${projection}">

                    <td th:text ="${p.film.getTitre()}"></td>
                    <td th:text ="${p.salle.getName()}"></td>
                    <td th:text ="${p.salle.cinema.getName()}"></td>

                    <td th:text ="${p.salle.cinema.ville.getName()}"></td>
                    <td th:text ="${p.dateProjection}"></td>
                    <td th:text ="${p.prix}"></td>
                    <td th:text ="${p.seance.getHeureDebut()}"></td>



                </tr>


                </tbody>

            </table>
<!--            <div class="container">-->

<!--                    <div class="col"  style=" display: flex ; justify-content: flex-start  ; margin: 8px ">-->
<!--                        <div class="card" style="width: 18rem ; margin: 8px" th:each="p:${projection}">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title" th:text ="${p.film.getTitre()}"></h5>-->
<!--                                <h6 class="card-subtitle mb-2 text-muted" th:text ="${p.salle.getName()}"></h6>-->
<!--                                <h6 class="card-subtitle mb-2 text-muted" th:text ="${p.salle.cinema.getName()}"></h6>-->
<!--                                <h6 class="card-subtitle mb-2 text-muted" th:text ="${p.salle.cinema.ville.getName()}"></h6>-->
<!--                                <h6 class="card-subtitle mb-2 text-muted" th:text ="${p.dateProjection}"></h6>-->
<!--                                <h6 class="card-subtitle mb-2 text-muted" th:text ="${p.prix}"></h6>-->
<!--                                <h6 class="card-subtitle mb-2 text-muted" th:text ="${p.seance.getHeureDebut()}"></h6>-->
<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--            </div>-->
            <br>

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item" th:class="${currentPage==0? 'page-item disabled':'page-item'}" >
                        <a class="page-link" th:href="@{/projection(idf=${idf},page=0,keyword=${keyword})}">First</a></li>

                    <li th:class="${currentPage==0? 'page-item disabled':'page-item'}" >
                        <a class="page-link" th:href="@{/projection(idf=${idf},page=${currentPage - 1},keyword=${keyword})}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                    <li class="page-item" th:class="${currentPage == pages - 1 ? 'page-item disabled':'page-item'}" >
                        <a  class="page-link" th:href="@{/projection(idf=${idf},page=${currentPage + 1},keyword=${keyword})}" >Next</a>
                    </li>

                    <li class="page-item" th:class="${currentPage == pages - 1 ? 'page-item disabled':'page-item'}" >
                        <a class="page-link" th:href="@{/projection(idf=${idf},page=${pages - 1},keyword=${keyword})}" >Last</a>
                    </li>
                </ul>
            </nav>
        </div>


    </div>

    </div></div>
</body>
</html>
